@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family-primary: "Josefin Sans", sans-serif;
    --font-family-secondary: "Roboto Condensed", sans-serif;
    --primary-color: #0B0B43;
}

body {
    overflow-x: hidden;
}

header {
    background-color: var(--primary-color);
    width: 100%;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: .3s;
}

nav {
    padding: 10px;
    font-family: var(--font-family-primary);
    font-size: 20px;
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
  
nav  ul li {
    display: inline; 
    font-size: 30px;
    position: relative;
}

nav  ul li a {
    text-decoration: none;
    color: #ffa069;
    text-shadow: 1px 1px white;
}

nav  ul li:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, border-bottom 0.3s ease;
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px; 
    background-color: #e98246; 
    box-shadow: 1px 1px white;
    transition: width 0.3s ease; 
    transform: translateX(-50%);
}

nav ul li:hover::after {
    width: 100%; 
}
  
nav ul li.logo {
    margin: 0;
    pointer-events: none;
}

nav ul li.logo img {
    width: 350px; 
    height: auto; 
}

.header-principal-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-2 {
    display: none;
}

.primary-text {
    font-family: var(--font-family-primary);
    font-size: 1.7em;
    color: white;
    text-shadow: 1px 1px #E24907;
    width: 600px;
}

.primary-text h1 {
    font-weight: 400;
}

.primary-text span {
    color: #FE985B;
}

.primary-text p {
    font-weight: 300;
}

.primary-text h1,
.primary-text p,
.primary-text .call-action {
  margin-bottom: 20px; 
}

.call-action {
    width: 300px;
    height: 60px;
    border: 0;
    background-color: #FD7C2E;
    box-shadow: 3px 3px #fff;
    font-size: 28px;
    text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.52);
    color: white;
    font-family: var(--font-family-primary);
    text-decoration: none;
}

.call-action a {
    text-decoration: none;
    color: white;
}

.call-action:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

.colagem-header img{
    width: 600px;
}

.svg-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.svg-header svg {
    height: 100%;
}

.dados-empresa{
    margin-top: -350px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    color: #1A1A4F;
    text-shadow: 4px 0px 4px #0000003d;
}

.image-dados {
    margin-left: 260px;
}

.image-dados img {
    margin-left: -250px;
}

.dados-numeros {
    font-family: var(--font-family-primary);
    display: flex;
    justify-content: space-between;
    margin-top: 220px;
}

.dado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 50px;
    font-size: 40px;
    margin-left: 15px;
}

.dado p {
    font-size: 15px;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1.2s;
}

.hidden-2 {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1.2s;
}

.show {
    opacity: 1;
    transform: translateX(0);
    transition: all 2s;
}

.services {
    margin-top: -150px;
    background-color:#FBD8C9;
    padding-bottom: 50px;  
}

.services h1 {
    width: 400px;
    margin: auto;
    text-align: center;
    padding-top: 170px;
    font-size: 3em;
    font-family: var(--font-family-primary);
    font-weight: 400;
    color: #1A1A4F;
    text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.302);
    border-bottom: 3px solid #1A1A4F; 
}

.seta {
    text-align: center;
    margin-top: 30px;
    margin-right: 160px;
}

.service {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin-top: -100px;
}

.service2 {
    margin-top: -300px;
}

.image-s1 {
    background-image: url(midia/organic1.png);
}

.image-s2 {
    background-image: url(midia/organic2.png);
}

.image-s3 {
    background-image: url(midia/organic3.png);
}

.image-s3 img {
    width: 70px;
}

.img-service {
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-service p{
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    font-family: var(--font-family-secondary);
}

.image-s3 p {
    width: 110px;
}

.image-s1 img {
    width: 100px;
}

.text-s1 {
    width: 700px;
    height: 300px;
    background-image: url(midia/organic-retangulo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    font-family: var(--font-family-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-s1 > p {
    margin-top: 30px;
    width: 500px;
    color: #1A1A4F;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.302);
}

.seta2 {
    text-align: center;
    margin-left: 360px;
    margin-top: -120px;
}


.text-s2 {
    width: 700px;
    height: 300px;
    background-image: url(midia/organic-retangulo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    font-family: var(--font-family-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-s2 > p {
    margin-top: 30px;
    width: 500px;
    color: #1A1A4F;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.302);
}

.seta3 {
    text-align: center;
    margin-right: 550px;
    margin-top: -80px;
}

.service3 {
    margin-top: -150px;
}

.img-fundo {
    width: 100px;
    transform: rotate(56deg);
    margin-left: -32px;
}

.img-fundo img {
    width: 150px;
}

.img-fundo2 {
    width: 100px;
    transform: rotate(56deg);
    float: right;
    margin-right: 70px;
}

.img-fundo2 img {
    width: 150px;
}

.sobre-nos {
    background-color: #08082B;
    padding-bottom: 50px;
}

.sobre-nos-content {
    background-image: url(midia/bg-sobre.png);
    background-position: center center;
    background-size: contain;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.img-sobre-nos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.img-sobre-1 {
    margin-bottom: 120px ;
}

.img-sobre-2 {
    margin-top: 120px;
}

.img-sobre-nos img {
    width: 250px;
    height: 380px;
    border: 5px solid #E24907;
    border-radius: 15px;
}

.text-sobre-nos {
    width: 600px;
    color: white;
    font-family: var(--font-family-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-sobre-nos h2 {
    width: 250px;
    text-align: center;
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 20px;
    border-bottom: 4px solid #E24907;
}

.text-sobre-nos h2 span {
    font-weight: 500;
}

.text-sobre-nos p {
    font-size: 25px;
    font-weight: 200;
    width: 500px;
}

.text-sobre-nos ul {
    list-style-type: none;
    margin-top: 20px;
    font-size: 25px;
}

.text-sobre-nos ul li {
    padding-left: 10px;
    list-style-image: url('midia/essenciau-logotipo-ul.png');
    font-size: 28px;
}

.shine {
    margin-left: 330px;
    margin-bottom: -50px;
}

.seta4 {
    display: block;
    text-align: center;
}

.seta4 img {
    width: 300px;
    margin-bottom: -201px;
    transform: scaleX(-1);
}

.produtos-title {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100px;
    background-color: #FED8C7;
    border-radius: 41px;
    font-family: var(--font-family-primary);
    font-size: 2em;
    color: #1A1A4F;
    box-shadow: 5px 5px #1A1A4F;
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

.produtos-title h1 {
    font-weight: 400;
    margin-top: 10px;
    padding: 20px;
}

.produtos {
    z-index: 1;
    margin-top: -50px;
    background-image: url(midia/Untitled\ \(6\).png);
    background-size: cover;
}

.itens {
    padding: 30px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
    margin-left: 150px;
    padding-top: 80px;
}

.i1, .i2 {
    margin: 20px;
    width: 200px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 26px;
    box-shadow: 4px 4px #1A1A4F;
}

.i1:hover, .i2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease
}

.item h2 {
    font-family: var(--font-family-primary);
    color: #0B0B43;
    margin-bottom: 10px;
}

.item p {
    font-family: var(--font-family-primary);
    color: #0B0B43;
}

.item img {
    width: 160px;
}

.img-fundo3 img{
    margin-top: -100px;
    margin-left: 720px;
    width: 100px;
    padding: 40px;
}

.planos {
    background-color: #FBD8C9;
    text-align: center;
    padding: 40px;
}

.text-planos {
    text-align: center;
    padding: 30px;
    color: #08082B;
    font-family: var(--font-family-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-planos h2 {
    font-size: 3em;
    border-bottom: 3px solid #08082B;
    padding-top: 10px;
}

.text-planos p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 700px;
    padding: 20px;
}

.coroa {
    margin: auto;
}

.cards-planos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards-planos :nth-child(2) {
    transition-delay: 400ms;
}

.cards-planos :nth-child(3) {
    transition-delay: 700ms;
}

.plano {
    width: 300px;
    height: 600px;
    font-family: var(--font-family-primary);
    padding: 20px;
}

.plano-1, .plano-3 {
    background-color: #FE985B;
    box-shadow: -4px 4px #0B0B43;
    border-radius: 100px;
}

.plano ul {
    margin: auto;
    list-style-type: none;
    padding: 0;
    width: 250px;
}

.plano-1 p.titulo, .plano-3 p.titulo {
    font-size: 1.3em;
    font-weight: 800;
    margin: 10px;
    color: #0B0B43;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.278);
}

.plano-1 p.beneficio, .plano-3 p.beneficio {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.278);
}

.card1-conteudo, .card2-conteudo, .card3-conteudo {
    margin-top: 30px;
}

.banner-1, .banner-3 {
    margin-left: -20px;
    margin-top: -20px;
    background-color: #FD7C2E;
    padding: 20px;
    width: 300px;
    height: 130px;
    border-radius: 100px 100px 0px 0px;
}

.banner {
    margin-top: 10px;
}

.banner h1 {
    color: white;
    font-size: 2em;
    padding: 10px;
}

.banner  span{
    color: #0B0B43;
    font-size: 1.8em;
    font-weight: 700;
    padding: 10px;
}

.banner> .preço {
    color: white;
    font-size: 3em;
    font-weight: 800;
    text-shadow: 5px 4px black;    
    padding: 10px;
}

.button-plano {
    margin: 20px;
    border: 0;
    padding: 8px;
    font-size: 1.4em;
    border-radius: 30px;
    background-color: #0B0B43;
    color: white;
    font-family: var(--font-family-primary);
    font-weight: 600;
    box-shadow: 3px 3px white;
}

.button-plano:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.plano-2 {
    background-color: #1A1A4F;
    box-shadow: 0px 4px #FE985B;
    border-radius: 100px;
    width: 310px;
    height: 650px;
}

.banner-2 {
    margin-left: -20px;
    margin-top: -20px;
    background-color: #313189;
    padding: 20px;
    width: 310px;
    height: 130px;
    border-radius: 100px 100px 0px 0px;
}

.banner2-conteudo span {
    color: #FD7C2E;
    text-shadow: 3px 4px #0B0B43;
}

.plano-2 ul {
    margin: auto;
    list-style-type: none;
    padding: 0;
    width: 280px;
}

.plano-2 p.titulo {
    font-size: 1.3em;
    font-weight: 800;
    margin: 10px;
    color: #FE985B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.278);
}

.plano-2 p.beneficio {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.278);
}

.plano-3 {
    box-shadow: 4px 4px #0B0B43;
}

.button-pre {
    background-color: #FE985B;
    color: #0B0B43;
    font-weight: 800;
    padding: 10px;
}

.foto-animal {
    height: 500px;
    background-image: url(midia/foto-catdog.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.app {
    margin: auto;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0B0B43;
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    font-family: var(--font-family-primary);
    margin-top: -60px;
    position: relative;
    z-index: 2;
}

.cfa-button button {
    width: 230px;
    padding: 15px;
    border: 0;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 30px;
    color: white;
    font-family: var(--font-family-primary);
    font-size: 1.3em;
}

.cfa-button button:hover {
    transform: scale(1.1);
    background-color: #313189;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.avaliacao {
    color: white;
}

.avaliacao p {
    font-size: 1.2em;
} 

.avaliacao span {
    font-size: 30px;
}

.app-pic {
    width: 90px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.app-pic img {
    width: 80px;
}

.clients {
    background-image: linear-gradient(to bottom, #fe985b, #e98246);
    height: 700px;
    position: relative;
    margin-top: -70px;
    z-index: 1;
    padding: 30px;
    height: 900px;
    padding-bottom: 40px;
}

.coelho-clients img {
    padding: 0;
    width: 100px;
    margin-left: 100px;
    margin-top: 20px;
    transform: rotate(-20deg);
}

.conteudo-clients {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.depoimentos {
    padding: 40px;
}

.depoimento {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-family-primary);
    color: #0B0B43;
}

.client-foto {
    width: 150px;
    border-radius: 100px;
    box-shadow: 4px 4px #08082B;
}

.depoimento span {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 10px;
}

.depoimento p {
    width: 400px;
    margin: 20px;
    text-align: center;
    background-color: #FD7C2E;
    padding: 20px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 400;
    box-shadow: 4px 4px #08082B;
}

.text-clients {
    width: 300px;
    text-align: right;
    font-family: var(--font-family-primary);
    color: #0B0B43;

}

.text-clients h2 {
    font-size: 5em;
    text-shadow: 4px 4px #FD7C2E;
    font-weight: 400;
}

.text-clients p {
    font-size: 1.4em;
    font-weight: 500;
}

.svg-clients {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.svg-clients svg {
    position: relative;
    height: 100%;
    z-index: 1;
}

.atend-personal {
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    font-family: var(--font-family-primary);
    margin-top: -100px;
}

.campos-atend {
    width: 250px;
    padding: 30px;
}

.campos-atend input, #bixos {
    border: 4px solid black;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    text-align: center;
}

#especies > button:hover {
    cursor: pointer;
}

label {
    font-size: 1.2em;
    border-bottom: 2px solid #0B0B43;
}

.cfa-button2 button {
    margin-top: 20px;
    width: 200px;
    padding: 10px;
    border: 0;
    border: 2px solid  #1A1A4F;
    background-color: transparent;
    border-radius: 30px;
    color: #0B0B43;
    font-family: var(--font-family-primary);
    font-size: 1.3em;
}

.text-atend {
    width: 500px;
    margin-left: 20px;
}

.text-atend h2 {
    font-size: 2.1em;
    font-weight: 500;
    color: #0B0B43;
}

.text-atend p {
    margin-top: 10px;
    color: #0B0B43;
    font-size: 1em;
}

.organic-atend img {
    width: 150px;
    margin-left: -10px;
}

.pata-gato img {
    margin-bottom: -8px;
    width: 150px;
}

.fale-conosco {
    background-color: #FBD8C9;
    padding: 20px;
    font-family: var(--font-family-primary);
}

.first-container-fc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    gap: 10px;
}

.text-fale {
    width: 500px;
    text-align: center;
}

.text-fale h2 {
    font-size: 2.5em;
    color: #0B0B43;
    border-bottom: 3px solid #0B0B43;
}

.text-fale p {
    margin-top: 10px;
    font-size: 1.5em;
    text-shadow: 3px 2px 0px #0B0B43;
    color: white;
}

.fone-fale-img {
    padding: 30px;
}

.fone-fale-img img{
    width: 150px;
}

.invi {
    width: 150px;
}

.contatos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    padding-bottom: 40px;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 3px 4px #0B0B43;
}

.cont :nth-child(2) {
    transition-delay: 400ms;
}

.cont :nth-child(3) {
    transition-delay: 500ms;
}

.cont :nth-child(4) {
    transition-delay: 700ms;
}

.cont h2{
    font-size: 2em;
    padding: 10px;
}

.cont span {
    font-size: 1.5em;
    font-weight: 300;
}

.endereco span {
    text-align: center;
    width: 200px;
}

.fc-icon {
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: #FD7C2E;
    border-radius: 100px;
    margin-bottom: 10px;
}

.fc-icon img {
    padding: 25px;
    width: 100px;
}

.ver-maps, .liga-fc { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #0B0B43;
    width: 360px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: -32px;
    border-radius: 0px 0px 30px 30px;

}

.ver-maps a,  .liga-fc a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
 }

 .ver-maps a:hover,  .liga-fc a:hover {
    text-decoration: underline;
 }

ion-icon {
    color: white;
    text-align: center;
}

footer {
    background-color: #1A1A4F;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: var(--font-family-primary);
    padding: 30px;
}

.logo-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3em;
    color: white;
}

.logo-redes img {
    width: 300px;
}

.logo-redes i {
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
    color: white;
}

.listas {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.listas ul {
    list-style-type: none;
}

.listas ul li {
    color:#FD7C2E;
    padding: 20px;
}

.listas ul li a {
    color:#FD7C2E;
    text-decoration: none;
}

.listas ul li a:hover {
    text-decoration: underline;
}

.listas ul li p {
    padding-bottom: 10px;
}

.titulo-footer {
    color: white;
    font-size: 1.5em;
    padding: 10px;
}

.direitos {
    background-color: #1A1A4F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1em;
    font-family: var(--font-family-secondary);
    padding: 10px;
}

.direitos a {
    padding-right: 100px;
    color: white;
    text-decoration: none;
}

.direitos a:hover {
    text-decoration: underline;
}

.direitos p {
    padding-left: 100px;
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


