@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family-primary: "Josefin Sans", sans-serif;
    --font-family-secondary: "Roboto Condensed", sans-serif;
    --primary-color: #0B0B43;
}

header {
    background-color: var(--primary-color);
    width: 100%;
}

nav {
    padding: 10px;
    font-family: var(--font-family-primary);
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
  
nav  ul li {
    display: inline; 
    font-size: 30px;
}

nav  ul li a {
    text-decoration: none;
    color: #ffa069;
    text-shadow: 1px 1px white;
}
  
nav ul li.logo {
    margin: 0;
}
  
nav ul li.logo img {
    width: 350px; 
    height: auto; 
}

.header-principal-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.primary-text {
    font-family: var(--font-family-primary);
    font-size: 1.7em;
    color: white;
    text-shadow: 1px 1px #E24907;
    width: 600px;
}

.primary-text h1 {
    font-weight: 400;
}

.primary-text span {
    color: #FE985B;
}

.primary-text p {
    font-weight: 300;
}

.primary-text h1,
.primary-text p,
.primary-text .call-action {
  margin-bottom: 20px; 
}

.call-action {
    width: 200px;
    height: 40px;
    border: 0;
    background-color: #FD7C2E;
    box-shadow: 3px 3px #fff;
    font-size: 18px;
    text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.52);
    color: white;
}

.colagem-header img{
    width: 600px;
}

svg {
    margin-top: -100px;
}

.dados-empresa{
    margin-top: -350px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    color: #1A1A4F;
    text-shadow: 4px 0px 4px #0000003d;
}

.image-dados {
    margin-left: 260px;
}

.image-dados img {
    margin-left: -250px;
}

.dados-numeros {
    font-family: var(--font-family-primary);
    display: flex;
    justify-content: space-between;
    margin-top: 220px;
}

.dado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 50px;
    font-size: 40px;
    margin-left: 15px;
}

.dado p {
    font-size: 15px;
}

.services {
    margin-top: -150px;
    background-color:#FBD8C9;
    padding-bottom: 50px;  
}

.services h1 {
    width: 400px;
    margin: auto;
    text-align: center;
    padding-top: 170px;
    font-size: 3em;
    font-family: var(--font-family-primary);
    font-weight: 400;
    color: #1A1A4F;
    text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.302);
    border-bottom: 3px solid #1A1A4F; 
}

.seta {
    text-align: center;
    margin-top: 30px;
    margin-right: 160px;
}

.service {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin-top: -100px;
}

.service2 {
    margin-top: -300px;
}

.image-s1 {
    background-image: url(midia/organic1.png);
}

.image-s2 {
    background-image: url(midia/organic2.png);
}

.image-s3 {
    background-image: url(midia/organic3.png);
}

.image-s3 img {
    width: 70px;
}

.img-service {
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-service p{
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    font-family: var(--font-family-secondary);
}

.image-s3 p {
    width: 110px;
}

.image-s1 img {
    width: 100px;
}

.text-s1 {
    width: 700px;
    height: 300px;
    background-image: url(midia/organic-retangulo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    font-family: var(--font-family-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-s1 > p {
    margin-top: 30px;
    width: 500px;
    color: #1A1A4F;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.302);
}

.seta2 {
    text-align: center;
    margin-left: 360px;
    margin-top: -120px;
}


.text-s2 {
    width: 700px;
    height: 300px;
    background-image: url(midia/organic-retangulo2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    font-family: var(--font-family-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-s2 > p {
    margin-top: 30px;
    width: 500px;
    color: #1A1A4F;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.302);
}

.seta3 {
    text-align: center;
    margin-right: 550px;
    margin-top: -80px;
}

.service3 {
    margin-top: -150px;
}

.img-fundo {
    width: 100px;
    transform: rotate(56deg);
    margin-left: -32px;
}

.img-fundo img {
    width: 150px;
}

.img-fundo2 {
    width: 100px;
    transform: rotate(56deg);
    float: right;
    margin-right: 70px;
}

.img-fundo2 img {
    width: 150px;
}

.sobre-nos {
    background-color: #08082B;
    padding-bottom: 50px;
}

.sobre-nos-content {
    background-image: url(midia/bg-sobre.png);
    background-position: center center;
    background-size: contain;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.img-sobre-nos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.img-sobre-1 {
    margin-bottom: 120px ;
}

.img-sobre-2 {
    margin-top: 120px;
}

.img-sobre-nos img {
    width: 250px;
    height: 380px;
    border: 5px solid #E24907;
    border-radius: 15px;
}

.text-sobre-nos {
    width: 600px;
    color: white;
    font-family: var(--font-family-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-sobre-nos h2 {
    width: 250px;
    text-align: center;
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 20px;
    border-bottom: 4px solid #E24907;
}

.text-sobre-nos h2 span {
    font-weight: 500;
}

.text-sobre-nos p {
    font-size: 25px;
    font-weight: 200;
    width: 500px;
}

.text-sobre-nos ul {
    list-style-type: none;
    margin-top: 20px;
    font-size: 25px;
}

.text-sobre-nos ul li {
    padding-left: 10px;
    list-style-image: url('midia/essenciau-logotipo-ul.png');
    font-size: 28px;
}

.shine {
    margin-left: 330px;
    margin-bottom: -50px;
}

.seta4 {
    display: block;
    text-align: center;
}

.seta4 img {
    width: 300px;
    margin-bottom: -201px;
    transform: scaleX(-1);
}

.produtos-title {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100px;
    background-color: #FED8C7;
    border-radius: 41px;
    font-family: var(--font-family-primary);
    font-size: 2em;
    color: #1A1A4F;
    box-shadow: 5px 5px #1A1A4F;
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

.produtos-title h1 {
    font-weight: 400;
    margin-top: 10px;
    padding: 20px;
}

.produtos {
    z-index: 1;
    margin-top: -50px;
    background-image: url(midia/Untitled\ \(6\).png);
    background-size: cover;
}

.itens {
    padding: 30px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
    margin-left: 150px;
    padding-top: 80px;
}


.i1, .i2 {
    margin: 20px;
    width: 200px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 26px;
    box-shadow: 4px 4px #1A1A4F;
}

.item {
    font-family: var(--font-family-primary);
    color: #0B0B43;
}

.item img {
    width: 160px;
}




